@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Road+Rage&display=swap');

/*html, body {
  width: 100%;
  height: 100%;
} */
* {
  margin:0;
  padding:0;
  border: none;
}
/*header > h1{
  color:black;
}*/
body {
  font-family:Akshar, sans-serif;
  font-weight:300;
  background-color:white;
  color:#0d1b26
}
h1, h2 {
  font-family:Road Rage, cursive;
  text-transform:uppercase;
  letter-spacing: 3px;
  color:black;

}
#logo {
  float:left;
  font-size:400%;
}
/* navigation links */
#menu {
  font-size: 200%;
  letter-spacing:3px;
}
#topnav {
  float:right;
  margin-right:30px;
}
#menu a {
  text-decoration:none;
  color:inherit;
} 
#menu, #logo {
  line-height: 100px;
}
/* check nav centered fixed above */
#menu a:hover {
  color:#46ddbf;
}
.active {
  border-bottom:1px solid #46ddbf;
}
nav {
   float:right;
   background-color:translucent;
   text-transform:uppercase;
   position:fixed;
   font-size: 200%;
   letter-spacing:3px;
   text-decoration:none;
   color:#0d1b26;

}
nav >a:hover {
  color:#46ddbf;
}
p{color:black}
h2{color:black}


a:hover {
    text-decoration: none;
    color:#46ddbf ;
}

footer > span {
    color: black;
}

footer > a {
    color: silver;
    text-decoration: none;
    padding: 0 15px;
}
footer {
  background-color:grey;
  color:black;
  padding: 1em;
  text-align: center;
  display:inline-block;
}
div {
  display:inline-block;
}
footer > p {color:silver}

input[type=submit] {
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #46ddbf;
    color: white;
    border: none;
    border-radius: 5px;
}
.black-background {
  background-color: black;
}